./ast_DAppSCAN/
./ast_DAppSCAN/*
./compilable_DAppSCAN
./compilable_DAppSCAN/*
/ast_DAppSCAN/
/ast_DAppSCAN/*
/compilable_DAppSCAN
/compilable_DAppSCAN/*
/trials/compilable_DAppSCAN/*
/trials/compilable_DAppSCAN/
/trials/sc_datasets/*
/trials/sc_datasets/